.like-transition-enter {
    
    transform: scale(0.9);
}

.like-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1000ms, transform 1000ms;
}

.like-transition-exit {
    opacity: 1;
}

.like-transition-exit-active {
    
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    
}

.react-player {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 15%; /* Move the left edge of the player to the middle of the wrapper */
    
}