.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav outlet";
  height: 99vh;
  width: auto;
  margin: 5px;
  gap: 5px;
}

.outlet, .nav>div{
  color: azure;
  padding: 10px;
}

.outlet, .nav>div, .nav>header, .nav>nav{
  background-color: #0E0C0F;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
      "outlet"
      "nav";
  }

  .outlet{
    overflow-y: auto;
  }

}

