.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav outlet aside";
  height: 99vh;
  margin: 5px;
  gap: 5px;
}

.outlet, .aside, .nav>div{
  color: azure;
  padding: 10px;
}

.outlet, .aside, .nav>div, .nav>nav{
  background-color: black;
  border-radius: 10px;
}

