@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --preto: #0E0C0F;
}

*{
    margin: 0;
    padding: 0;
}
html, body, #root {
    height: 100%;
}
body {
    background-color: #181718;
    font-family: 'Montserrat', sans-serif;
};