.like-transition-enter {
    
    transform: scale(0.9);
}

.like-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1000ms, transform 1000ms;
}

.like-transition-exit {
    opacity: 1;
}

.like-transition-exit-active {
    
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.custom-swal-popup {
    background-color: var(--cinza);
    color: white;
    border-radius: 10px
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    
}

.react-player {
    position: absolute;
    margin: 0 auto;
    top: 0;
}

@media screen and (min-width: 640px) {
    .player-wrapper {
        left: 5%; 
    }
}

@media screen and (min-width: 1024px) {
    .player-wrapper {
        left: 15%; 
    }
}